In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import scipy
# 不用print，直接显示结果
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 显示所有列
pd.set_option('display.max_columns', 600)

## 【练习一】 现继续使用第四章中的地震数据集，请解决以下问题：
### （a）现在将深度分为七个等级：[0,5,10,15,20,30,50,np.inf]，请以深度等级Ⅰ,Ⅱ,Ⅲ,Ⅳ,Ⅴ,Ⅵ,Ⅶ为索引并按照由浅到深的顺序进行排序。
### （b）在（a）的基础上，将烈度分为4个等级：[0,3,4,5,np.inf]，依次对南部地区的深度和烈度等级建立多级索引排序。

In [20]:
Earthquake = pd.read_csv('data/Earthquake.csv')
Earthquake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10062 entries, 0 to 10061
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      10062 non-null  object
 1   时间      10062 non-null  object
 2   维度      10062 non-null  float64
 3   经度      10062 non-null  float64
 4   方向      10062 non-null  object
 5   距离      10062 non-null  float64
 6   深度      10062 non-null  float64
 7   烈度      10062 non-null  float64
dtypes: float64(5), object(3)
memory usage: 629.0+ KB

In [23]:
#（a）现在将深度分为七个等级：[0,5,10,15,20,30,50,np.inf]，请以深度等级Ⅰ,Ⅱ,Ⅲ,Ⅳ,Ⅴ,Ⅵ,Ⅶ为索引并按照由浅到深的顺序进行排序。

## 分等级
# pd.cut(Earthquake['深度'], [0,5,10,15,20,30,50,np.inf], right=False)

## 直接将等级赋值
Earthquake['Dep Levl'] = pd.cut(Earthquake['深度'], [0,5,10,15,20,30,50,np.inf], right=False, labels=['Ⅰ','Ⅱ','Ⅲ','Ⅳ','Ⅴ','Ⅵ','Ⅶ'])\
                        .astype('category').cat.as_ordered()
Earthquake.set_index('Dep Levl').sort_index()

,日期,时间,维度,经度,方向,距离,深度,烈度,CSIS Levl
Dep Levl,,,,,,,,,
Ⅰ,1999.07.05,12:57:31 AM,41.24,32.78,north_west,0.9,0.0,0.0,Ⅰ
Ⅰ,1994.12.24,12:40:49 AM,37.48,28.35,north_east,1.0,0.0,0.0,Ⅰ
Ⅰ,2001.12.12,12:59:55 AM,37.42,37.28,north_east,3.2,4.0,0.0,Ⅰ
Ⅰ,2017.04.21,12:25:56 AM,38.78,29.06,south_east,1.5,3.4,3.8,Ⅱ
Ⅰ,1992.08.21,12:10:52 AM,37.61,27.48,north_east,1.0,0.0,0.0,Ⅰ
...,...,...,...,...,...,...,...,...,...
Ⅶ,1981.08.04,12:52:19 AM,38.90,37.00,north,3.7,84.0,0.0,Ⅰ
Ⅶ,1968.03.21,12:42:51 AM,38.80,27.60,south,0.6,52.0,4.3,Ⅲ
Ⅶ,1929.04.27,12:18:06 AM,40.51,31.43,south_west,1.9,70.0,4.8,Ⅲ
Ⅶ,2008.03.26,12:16:15 AM,37.04,30.27,east,1.8,95.8,0.0,Ⅰ
Ⅶ,1956.07.18,12:46:53 AM,39.96,27.30,north_east,0.9,60.0,4.6,Ⅲ

In [25]:
#（b）在（a）的基础上，将烈度分为4个等级：[0,3,4,5,np.inf]，依次对南部地区的深度和烈度等级建立多级索引排序。
Earthquake['CSIS Levl'] = pd.cut(Earthquake['烈度'], [0,3,4,5,np.inf], right=False, labels=['Ⅰ','Ⅱ','Ⅲ','Ⅳ'])\
                        .astype('category').cat.as_ordered()
Earthquake.set_index(['Dep Levl','CSIS Levl']).sort_index()

                            日期           时间     维度     经度          方向    距离  \
Dep Levl CSIS Levl
Ⅰ        Ⅰ          1978.05.07  12:41:37 AM  38.58  27.61  south_west   0.1
         Ⅰ          2000.02.07  12:11:45 AM  40.05  34.07  south_east   0.1
         Ⅰ          1985.01.28  12:20:56 AM  38.85  29.06  north_east   0.1
         Ⅰ          1999.11.16  12:49:39 AM  40.70  31.63        west   0.2
         Ⅰ          2006.06.09  12:53:05 AM  39.67  38.99        west   0.2
...                        ...          ...    ...    ...         ...   ...
Ⅶ        Ⅳ          1966.08.19  12:15:14 AM  39.41  41.30  south_east   7.0
         Ⅳ          1934.06.19  12:43:16 AM  37.86  31.13  north_east   8.6
         Ⅳ          1958.05.09  12:40:57 AM  36.61  27.60  south_east  10.5
         Ⅳ          1925.01.09  12:38:34 AM  41.33  43.41        east  20.4
         Ⅳ          1949.10.13  12:28:39 AM  36.75  44.47  south_east  31.8

                      深度   烈度
Dep Levl CSIS Levl
Ⅰ        Ⅰ           0.0  0.0
         Ⅰ           1.0  0.0
         Ⅰ           4.0  0.0
         Ⅰ           4.0  0.0
         Ⅰ           3.3  0.0
...                  ...  ...
Ⅶ        Ⅳ          62.0  5.2
         Ⅳ          50.0  5.2
         Ⅳ          67.0  5.1
         Ⅳ          60.0  5.7
         Ⅳ          70.0  5.0

[10062 rows x 8 columns]

## 【练习二】 对于分类变量而言，调用第4章中的变形函数会出现一个BUG（目前的版本下还未修复）：例如对于crosstab函数，按照[官方文档的说法](https://pandas.pydata.org/pandas-docs/version/1.0.0/user_guide/reshaping.html#cross-tabulations)，即使没有出现的变量也会在变形后的汇总结果中出现，但事实上并不是这样，比如下面的例子就缺少了原本应该出现的行'c'和列'f'。基于这一问题，请尝试设计my_crosstab函数，在功能上能够返回正确的结果。

In [ ]:
foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
pd.crosstab(foo, bar)